<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, 
            architecto cupiditate? Iure vitae explicabo consequatur temporibus 
            labore expedita quasi porro laborum, quibusdam at? Quasi vel labore 
            inventore sapiente. Ipsam voluptatibus in exercitationem. Beatae, voluptatem! 
            Possimus corporis error soluta tenetur quasi!</p>
    </div>
</div>