<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta 
        quam beatae perferendis sint incidunt autem! Minus dolore maxime debitis 
        sunt maiores quasi expedita itaque odit, corrupti aspernatur quam nesciunt.</p>
    <a href="/about" class="btn btn-primary btn-lg">Learn More</a>
</div>